{% extends 'student_templates/base.html' %}
{% block page_title %}Add Student{% endblock page_title %}
{% block home_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Create new Student</h3>
                    </div>
                    <form action="/add-student-save/" method='post' enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form }}
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success btn-block">Add Student</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section>
{% endblock home_content %}