{% extends 'student_templates/base.html' %}
{% block page_title %}Add Student{% endblock page_title %}
{% block home_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Create new Student</h3>
                    </div>
                    {% url 'add-student-save' as action_path %}
                    {% include 'student_templates/form_template.html' with button="Add Student" %}
                </div>
            </div>
        </div>
    </div>
</section>

{% block custom_js %}
<script>
    $(document).ready(function () {
        $("#id_email").keyup(function () {
            var email = ($(this).val())

            $.ajax({
                url: "{% url 'check-student-email-exist' %}",
                type: 'POST',
                data: { email: email }
            })
                .done(function (response) {
                    console.log(response)
                    if (response == "True") {
                        $(".email_error").remove();
                        $("<span class='email_error' style='padding:5px; color:red; font-weight:bold'>Email Not Available</span>").insertAfter('#id_email');
                    } else {
                        $(".email_error").remove();
                        $("<span class='email_error' style='padding:5px; color:green; font-weight:bold'>Email Available</span>").insertAfter('#id_email');
                    }
                })
                .fail(function () {
                    console.log('Failed')
                })
        })
    })
</script>
{% endblock custom_js %}

{% endblock home_content %}