{% extends 'student_templates/base.html' %}
{% block page_title %}
Edit Student | #ID: {{student.id}}
{% endblock page_title %}
{% block home_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Edit Student</h3>
                    </div>
                    <form action="/edit-student-save/" method='post' enctype="multipart/form-data">
                        {% csrf_token %}

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock home_content %}