{% extends 'hod_templates/base.html' %}
{% block page_title %}Add Term{% endblock page_title %}
{% block home_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Create new term</h3>
                    </div>
                    {% url 'add-term-save' as action_path %}
                    {% include 'hod_templates/form_template.html' with button="Add Term" %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock home_content %}