{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin | Lockscreen</title>
  {% include 'hod_templates/includes/links/css_links.html' %}

</head>

<body class="hold-transition lockscreen">
  <!-- Automatic element centering -->
  <div class="lockscreen-wrapper">
    <div class="lockscreen-logo">
      <a href="{% url 'admin-home' %}" style="text-decoration: none;"><b>KIS</b><br>Student Management System</a>
    </div>
    <!-- User name -->
    <div class="lockscreen-name">Hello, {{user.username}}</div>
    <div class="help-block text-center">
      Enter your password to retrieve your session <br><a href="{% url 'login' %}">Or sign in as a different user</a>
    </div>
    <br>
    <div class="lockscreen-item">
      <!-- lockscreen image -->
      <div class="lockscreen-image">
        <img src="{% static 'dist/img/user1-128x128.jpg' %}" alt="User Image">
      </div>
      <form class="lockscreen-credentials" action="{% url 'admin-lockscreen-login' %}" method="post">
        {% csrf_token %}
        <div class="input-group">
          <input type="password" class="form-control" placeholder="Enter password" name="password">
          <div class="input-group-append">
            <button type="button" class="btn">
              <i class="fas fa-arrow-right text-muted"></i>
            </button>
          </div>
        </div>

      </form>
    </div>
    {% if messages %}
    <div class="col-12">
      {% for message in messages %}
      {% if message.tags == 'error' %}
      <div class="btn btn-danger btn-block" style="margin-top:10px">{{message}}</div>
      {% endif %}
      {% if message.tags == 'info' %}
      <div class="btn btn-info btn-block" style="margin-top:10px">{{message}}</div>
      {% endif %}
      {% if message.tags == 'success' %}
      <div class="btn btn-success btn-block" style="margin-top:10px">{{message}}</div>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
    <br>
    <form action="{% url 'admin-lockscreen-login' %}" method="post">
      {% csrf_token %}
      <div class="input-group-submit">
        <button type="submit" class="btn btn-success btn-block">Sign In</button>
      </div>
    </form>
    <div class="lockscreen-footer text-center">
      Copyright &copy; 2022 <b><a href="{% url 'admin-home' %}" class="text-black">Kings International
          School</a></b><br>
      All rights reserved
    </div>
  </div>
  <!-- /.center -->

  {% include 'hod_templates/includes/links/js_links.html' %}
</body>

</html>