{% extends 'hod_templates/base.html' %}
{% load static %}
{% block page_title %}Edit Admin Profile{% endblock page_title %}
{% block home_content %}

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-dark card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle" src="{% static 'dist/img/user4-128x128.jpg' %}"
                alt="User profile picture">
            </div>
            {% if user.is_authenticated %}
            <h3 class="profile-username text-center">{{user.first_name}}</h3>
            {% else %}
            <h3 class="profile-username text-center">Admin</h3>
            {% endif %}
            <p class="text-muted text-center">School Admin</p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Status</b> <a class="float-right">1,322</a>
              </li>
              <li class="list-group-item">
                <b>Following</b> <a class="float-right">543</a>
              </li>
              <li class="list-group-item">
                <b>Friends</b> <a class="float-right">13,287</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-md-9">
        <div class="card card-dark">
          <div class="card-header">
            <h3 class="card-title">Edit Admin Profile</h3>
          </div>
          <form action="{% url 'edit-admin-profile-save' %}" method="post">
            {% csrf_token %}
            <div class="card-body">
              <div class="form-group">
                <label>Username</label>
                <input class="form-control" type="name" name="username" value="{{user.username}}" disabled="disabled">
              </div>
              <div class="form-group">
                <label>Email Address</label>
                <input class="form-control" type="email" name="email" value="{{user.email}}" disabled="disabled">
              </div>
              <div class="form-group">
                <label>First Name</label>
                <input class="form-control" type="name" name="first_name" value="{{user.first_name}}">
              </div>
              <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" type="name" name="last_name" value="{{user.last_name}}">
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-success btn-block">Edit Profile</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>
</section>
{% endblock home_content %}