<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact us</title>

  {% include 'hod_templates/includes/links/css_links.html' %}
</head>

<body class="hold-transition sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Side Navbar -->
    {% include 'hod_templates/includes/navbars/sidebar.html' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Contact us</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/admin-home">Home</a></li>
                <li class="breadcrumb-item active">Contact us</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <form action="mailto:kingsinternational31@yahoo.com">
          <!-- Default box -->
          <div class="card">
            <div class="card-body row">
              <div class="col-5 text-center d-flex align-items-center justify-content-center">
                <div class="">
                  <h2>Kings<br><strong>International School</strong></h2>
                  <p class="lead mb-5">No 26 Benemoh Cresecent Mararaba, Nasarawa State<br>
                    Phone: +234 81-58594424
                  </p>
                </div>
              </div>
              <div class="col-7">
                <div class="form-group">
                  <label for="inputName">Name</label>
                  <input type="text" id="inputName" class="form-control" />
                </div>
                <div class="form-group">
                  <label for="inputEmail">E-Mail</label>
                  <input type="email" id="inputEmail" class="form-control" />
                </div>
                <div class="form-group">
                  <label for="inputSubject">Subject</label>
                  <input type="text" id="inputSubject" class="form-control" />
                </div>
                <div class="form-group">
                  <label for="inputMessage">Message</label>
                  <textarea id="inputMessage" class="form-control" rows="4"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary" value="Send message">
                </div>
              </div>
            </div>
          </div>
        </form>
      </section>
    </div>
    {% include 'hod_templates/includes/footer.html' %}
  </div>

  {% include 'hod_templates/includes/links/js_links.html' %}
</body>

</html>