{% extends 'staff_templates/base.html' %}
{% block page_title %}Leave Report and Apply for Leave{% endblock page_title %}
{% block home_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Leave Application</h3>
                    </div>
                    <form action="{% url 'applyLeaveSave' %}">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Leave Date</label>
                                <input type="date" name="leave_date" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Reason for Leave</label>
                                <textarea name="leave_reason" class="form-control" rows="6" cols="30"></textarea>
                            </div>
                        </div>
                        {% if messages %}
                        <div class="col-12">
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="btn btn-danger btn-block" style="margin-top:10px">{{message}}</div>
                            {% endif %}
                            {% if message.tags == 'info' %}
                            <div class="btn btn-info btn-block" style="margin-top:10px">{{message}}</div>
                            {% endif %}
                            {% if message.tags == 'success' %}
                            <div class="btn btn-success btn-block" style="margin-top:10px">{{message}}</div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success btn-block">Apply for Leave</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock home_content %}