<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'favicon/kislogo.ico' %}" type="image/x-icon">
    <title>Admin | Staff Dashboard</title>
    {% include 'hod_templates/includes/links/css_links.html' %}
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        {% include 'hod_templates/includes/preloader.html' %}
        <!-- Navbar -->
        {% include 'hod_templates/includes/navbars/navbar.html' %}
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {% include 'staff_templates/includes/navbars/sidebar.html' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h4 class="m-0">{% block page_title %}{% endblock page_title %}</h4>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/admin-home">Home</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main content -->
            {% block home_content %}{% endblock home_content %}
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>

            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {% include 'staff_templates/includes/footer.html' %}

    </div>
    {% include 'hod_templates/includes/links/js_links.html' %}
</body>
{% block custom_js %}
{% endblock custom_js %}

</html>