{% extends 'staff_templates/base.html' %}
{% block page_title %}
Edit Subject | #ID: {{subject.id}}
{% endblock page_title %}
{% block home_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Edit Subject</h3>
                    </div>
                    {% url 'edit-subject-save' as action_path %}
                    {% include 'staff_templates/form_template.html' with button="Edit Subject" %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock home_content %}