{% extends 'staff_templates/base.html' %}
{% block page_title %}Manage Staff{% endblock page_title %}
{% block home_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Staff Details</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap table-bordered">
                            <thead style="text-align:center">
                                <tr>
                                    <th>I.D</th>
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Last Name</th>
                                    <th>Date of Birth</th>
                                    <th>Email address</th>
                                    <th>Phone Number</th>
                                    <th>Gender</th>
                                    <th>Profile Picture</th>
                                    <th>Curicculum Vitae</th>
                                    <th>Address</th>
                                    <th>State</th>
                                    <th>Nationaliity</th>
                                    <th>Created at</th>
                                    <th>Updated at</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center">
                                {% for staff in staffs %}
                                <tr>
                                    <td>{{staff.id}}</td>
                                    <td>{{staff.first_name}}</td>
                                    <td>{{staff.middle_name}}</td>
                                    <td>{{staff.last_name}}</td>
                                    <td>{{staff.date_of_birth}}</td>
                                    <td>{{staff.email}}</td>
                                    <td>{{staff.phone_number}}</td>
                                    <td>{{staff.gender}}</td>
                                    <td>{{staff.profile_picture}}</td>
                                    <td>{{staff.curicculum_vitae}}</td>
                                    <td>{{staff.address}}</td>
                                    <td>{{staff.state}}</td>
                                    <td>{{staff.nationality}}</td>
                                    <td>{{staff.created_at}}</td>
                                    <td>{{staff.updated_at}}</td>
                                    <td><a class="btn btn-success" href="edit_staff/{{ staff.id }}">Edit</a></td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
{% endblock home_content %}