{% extends 'staff_templates/base.html' %}
{% block page_title %}Manage Staff{% endblock page_title %}
{% block home_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-13">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Staff Details</h3>
                    </div>
                    <table class="table table-hover table-sm table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">I.D</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Middle Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Date of Birth</th>
                                <th scope="col">Email address</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Profile Picture</th>
                                <th scope="col">Curicculum Vitae</th>
                                <th scope="col">Address</th>
                                <th scope="col">State</th>
                                <th scope="col">Nationaliity</th>
                                <th scope="col">Created at</th>
                                <th scope="col">Updated at</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for staff in staffs %}
                                <th scope="row">{{staff.id}}</th>
                                <td>{{staff.first_name}}</td>
                                <td>{{staff.middle_name}}</td>
                                <td>{{staff.last_name}}</td>
                                <td>{{staff.date_of_birth}}</td>
                                <td>{{staff.email}}</td>
                                <td>{{staff.phone_number}}</td>
                                <td>{{staff.gender}}</td>
                                <td>{{staff.profile_picture}}</td>
                                <td>{{staff.curicculum_vitae}}</td>
                                <td>{{staff.address}}</td>
                                <td>{{staff.state}}</td>
                                <td>{{staff.nationality}}</td>
                                <td>{{staff.created_at}}</td>
                                <td>{{staff.updated_at}}</td>
                                <td><button class="btn btn-success">Edit</button></td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
{% endblock home_content %}