{% extends 'staff_templates/base.html' %}
{% block page_title %}Take Student Attendance{% endblock page_title %}
{% block home_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Student Attendance</h3>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <label>Subject Name</label>
                            <select class="form-control" name="subject" id="subject">
                                {% for subject in subjects %}
                                <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Session Year</label>
                            <select class="form-control" name="session_year" id="session_year">
                                {% for session_year in session_years %}
                                <option value="{{ session_year.id }}">{{ session_year.session_start_year }} -
                                    {{session_year.session_end_year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Attendance Date</label>
                            <input type="date" name="attendance_date" id="attendance_date" class="form-control">
                        </div>
                    </div>
                    {% if messages %}
                    <div class="col-12">
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="btn btn-danger btn-block" style="margin-top:10px">{{message}}</div>
                        {% endif %}
                        {% if message.tags == 'info' %}
                        <div class="btn btn-info btn-block" style="margin-top:10px">{{message}}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="btn btn-success btn-block" style="margin-top:10px">{{message}}</div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success btn-block" id="fetch_student">Fetch
                            Student</button>
                    </div>
                    <div id="student_data">


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% block custom_js %}
<script>
    $(document).ready(function () {
        $('#fetch_student').click(function () {
            var subject = $('#subject').val()
            var session_year = $('#session_year').val()

            $.ajax({
                url: "{% url 'get_students' %}",
                type: "POST",
                data: { subject: subject, session_year: session_year }
            })
                .done(function (response) {
                    var json_data = JSON.parse(response);
                    console.log(json_data);
                    var div_data = "<div class='form-group'><div class='row'>";
                    for (key in json_data) {
                        div_data += "<div class='col-lg-2'><div class='form-check'><input type='checkbox' checked='checked' name='student_data[]' class='form-control' value='" + json_data[key]['id'] + "'>" + json_data[key]['name'] + "</div></div>";
                    }
                    div_data += "</div></div>"
                    $("#student_data").html(div_data);
                })
                .fail(function () {
                    alert("Error in Fetching Student")
                })
        })
    })
</script>
{% endblock custom_js %}

{% endblock home_content %}