{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            {% if user.is_authenticated %}
            <div class="image">
                <img src="{% static 'dist/img/user4-128x128.jpg' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            {% else %}
            <div class="image">
                <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            {% endif %}
            <div class="info">
                {% if user.is_authenticated %}
                <a href="#" class="d-block">Hello, {{user.username}}</a>
                {% else %}
                <p class="d-block" style="color:white">Hello, Admin <span class="right badge badge-info"><a
                            href="/login"> Login</a></span></p>

                {% endif %}
            </div>
        </div>
        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    {% url 'admin-home' as admin_home %}
                    <a href="{% url 'admin-home' %}"
                        class="nav-link {% if request.path == admin_home %} active {% endif %}">
                        <i class="nav-icon far fa-circle text-dark"></i>
                        <p>
                            Admin Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-header">Student Dashboard</li>
                <li class="nav-item">
                    <a href="{% url 'student-home' %}" class="nav-link">
                        <i class="nav-icon far fa-circle text-light"></i>
                        <p>
                            Student Home
                        </p>
                    </a>
                </li>
                <li class="nav-header">Staff Dashboard</li>
                <li class="nav-item">
                    <a href="{% url 'staff-home' %}" class="nav-link">
                        <i class="nav-icon far fa-circle text-info"></i>
                        <p>
                            Staff Home
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-envelope"></i>
                        <p>
                            Sessions
                            <i class="fas fa-angle-down right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'add-session' as add_session %}
                            <a href="{% url 'add-session' %}"
                                class="nav-link {% if request.path == add_session %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Session</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'edit-session' as edit_session %}
                            <a href="{% url 'edit-session' %}"
                                class="nav-link {% if request.path == edit_session %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Edit Session</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-envelope"></i>
                        <p>
                            Feedbacks
                            <i class="fas fa-angle-down right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'student-feedback-message' as student_feedback_message %}
                            <a href="{% url 'student-feedback-message' %}"
                                class="nav-link {% if request.path == student_feedback_message %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Student Feedback</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'staff-feedback-message' as staff_feedback_message %}
                            <a href="{% url 'staff-feedback-message' %}"
                                class="nav-link {% if request.path == staff_feedback_message %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Staff Feedback</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-edit"></i>
                        <p>
                            Leave
                            <i class="fas fa-angle-down right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'student-leave-view' as student_leave_view %}
                            <a href="{% url 'student-leave-view' %}"
                                class="nav-link {% if request.path == student_leave_view %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Student Leave</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'staff-leave-view' as staff_leave_view %}
                            <a href="{% url 'staff-leave-view' %}"
                                class="nav-link {% if request.path == staff_leave_view %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Staff Leave</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="courses" class="nav-link">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Courses
                        </p>
                        <i class="fas fa-angle-down right"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="subjects" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Subjects
                            <i class="fas fa-angle-down right"></i>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="notifications" class="nav-link">
                        <i class="nav-icon fas fa-bell"></i>
                        <p>
                            Notifications
                            <i class="fas fa-angle-down right"></i>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="gallery" class="nav-link">
                        <i class="nav-icon far fa-image"></i>
                        <p>
                            Gallery
                            <i class="fas fa-angle-down right"></i>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-envelope"></i>
                        <p>
                            Mailbox
                            <i class="fas fa-angle-down right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="mailbox/mailbox.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Inbox</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="mailbox/compose.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Compose</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="mailbox/read-mail.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Read</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-envelope"></i>
                        <p>
                            Contacts
                            <i class="fas fa-angle-down right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/contacts" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Our Contacts</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="examples/faq.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>FAQ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/contact-us" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Contact us</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div style="margin: 10px;">
        {% if user.is_authenticated %}
        <a class="btn btn-danger btn-block" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="btn btn-info btn-block" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</aside>