{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            {% if user.is_authenticated %}
            <div class="image">
                <img src="" class="img-circle elevation-2" alt="User Image">
            </div>
            {% else %}
            <div class="image">
                <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            {% endif %}
            <div class="info">
                {% if user.is_authenticated %}
                <a href="#" class="d-block">Hello, {{user.username}}</a>
                {% else %}
                <p class="d-block" style="color:white">Hello, Admin <span class="right badge badge-info"><a
                            href="/login"> Login</a></span></p>

                {% endif %}
            </div>
        </div>
        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/add-student" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Add Student
                        </p>
                        <i class="fas fa-angle-right right"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/manage-student" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Manage Student
                        </p>
                        <i class="fas fa-angle-right right"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/student-attendance" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Attendance
                        </p>
                        <i class="fas fa-angle-right right"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/student-notification" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Notifications
                        </p>
                        <i class="fas fa-angle-right right"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/student-feedback" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Feedbacks
                        </p>
                        <i class="fas fa-angle-right right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>