{% extends 'error_templates/base.html' %}
{% load static %}
{% block home_content %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>403 Forbidden Page</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'admin-home' %}">Home</a></li>
          <li class="breadcrumb-item active">403 Forbidden Page</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-danger">403</h2>

    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Foridden 403</h3>
      <p>
        You do not have permission to access to this page
        Meanwhile, you may <a href="{% url 'admin-home' %}">return to your dashboard</a>where you have access to those
        pages.
      </p>
    </div>
  </div>
  <!-- /.error-page -->

</section>
{% endblock home_content %}