{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KIS | Login Page</title>
  <link rel="shortcut icon" href="{% static 'favicon/kislogo.ico' %}" type="image/x-icon">
  {% include 'includes/css_links.html' %}
</head>

<body class="hold-transition login-page">
  <div class="login-box">
    <div class="card card-outline card-dark">
      <div class="card-header text-center">
        <div class="login-logo">
          <a href="#" class="h3"><b>Kings</b><br>Student Management System</a>
        </div>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <p class="login-box-msg"><a href="{% url 'register' %}">I don't have an account</a></p>
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email address" name="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          {% if messages %}
          <div class="col-12">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="btn btn-danger btn-block" style="margin-top:10px">{{message}}</div>
            {% endif %}
            {% if message.tags == 'info' %}
            <div class="btn btn-info btn-block" style="margin-top:10px">{{message}}</div>
            {% endif %}
            {% if message.tags == 'success' %}
            <div class="btn btn-success btn-block" style="margin-top:10px">{{message}}</div>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
          <div class="input-group mb-3">
            <div class="g-recaptcha" data-sitekey="6LePnE8fAAAAADLpANKuSkCnjPiRcgo1wqtLCSvM"></div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-success btn-block">Sign In</button>
          </div>
        </form>
        <div class="social-auth-links text-center">
          <button type="button" class="btn btn-block" style="background-color:#4267B2" disabled>
            <i class="fab fa-facebook mr-2"></i>
            Sign in using Facebook
          </button>
          <button type="button" class="btn btn-block" style="background-color:#db3236" disabled>
            <i class="fab fa-google-plus mr-2"></i>
            Sign in using Google
          </button>
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/js_links.html' %}
</body>

</html>