{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KIS | Registration Page</title>
  <link rel="shortcut icon" href="{% static 'favicon/kislogo.ico' %}" type="image/x-icon">
  {% include 'includes/css_links.html' %}
</head>

<body class="hold-transition register-page">
  <br><br>
  <div class="register-box">
    <div class="card card-outline card-dark">
      <div class="card-header text-center">
        <div class="register-logo">
          <a href="#" class="h3"><b>Kings</b><br>Student Management System</a>
        </div>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Create a new acount</p>
        <p class="login-box-msg"><a href="{% url 'login' %}">I already have an account</a></p>

        <form action="{% url 'register' %}" method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="First name" name="first_name">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Last name" name="last_name">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" name="username" id="id_username">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" name="email" id="id_email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Retype password" name="password2">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              {% if messages %}
              {% for message in messages %}
              {% if message.tags == 'success' %}
              <div class="btn btn-success btn-block">{{message}}</div>
              {% endif %}
              {% if message.tags == 'info' %}
              <div class="btn btn-info btn-block">{{message}}</div>
              {% endif %}
              {% if message.tags == 'error' %}
              <div class="btn btn-danger btn-block">{{message}}</div>
              {% endif %}
              {% endfor %}
              {% endif %}
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-block btn-success">Register</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="social-auth-links text-center">
          <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i>
            Sign up using Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i>
            Sign up using Google+
          </a>
        </div>
      </div>
    </div>
    <br><br>
  </div>


  {% include 'includes/js_links.html' %}

  <script>
    $(document).ready(function () {
      $("#id_email").keyup(function () {
        var email = ($(this).val())
        if (email != "") {
          $.ajax({
            url: "{% url 'check-student-email-exist' %}",
            type: 'POST',
            data: { email: email }
          })
            .done(function (response) {
              console.log(response)
              if (response == "True") {
                $(".email_error").remove();
                $("<span class='email_error' style='padding:5px; color:red; font-weight:bold'>Email Not Available</span>").insertAfter('#id_email');
              } else {
                $(".email_error").remove();
                $("<span class='email_error' style='padding:5px; color:green; font-weight:bold'>Email Available</span>").insertAfter('#id_email');
              }
            })
            .fail(function () {
              console.log('Failed')
            })
        } else {
          $(".email_error").remove();
        }
      })
      $("#id_username").keyup(function () {
        var username = ($(this).val())
        if (username != "") {
          $.ajax({
            url: "{% url 'check-student-username-exist' %}",
            type: 'POST',
            data: { username: username }
          })
            .done(function (response) {
              if (response == "True") {
                $(".username_error").remove();
                $("<span class='username_error' style='padding:5px; color:red; font-weight:bold'>Username Not Available</span>").insertAfter('#id_username');
              } else {
                $(".username_error").remove();
                $("<span class='username_error' style='padding:5px; color:green; font-weight:bold'>Username Available</span>").insertAfter('#id_username');
              }
            })
            .fail(function () {
              console.log('Failed to check availability')
            })
        } else {
          $(".username_error").remove();
        }
      })
    })
  </script>
</body>

</html>