{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KIS | Registration Page</title>
  <link rel="shortcut icon" href="{% static 'favicon/kislogo.ico' %}" type="image/x-icon">
  {% include 'includes/css_links.html' %}
</head>

<body class="hold-transition register-page">
  <br><br>
  <div class="register-box">
    <div class="card card-outline card-dark">
      <div class="card-header text-center">
        <div class="register-logo">
          <a href="#" class="h3"><b>Kings</b><br>Student Management System</a>
        </div>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Create a new acount</p>
        <div class="col-12 text-center">
          <a href="{% url 'login' %}">I already have an account</a>
        </div>

        {% url 'register-page-save' as action_path %}
        {% include 'form_template.html' with button="Create Account" %}

        <div class="social-auth-links text-center">
          <button type="button" class="btn btn-block" style="background-color:#4267B2" disabled>
            <i class="fab fa-facebook mr-2"></i>
            Sign up using Facebook
          </button>
          <button type="button" class="btn btn-block" style="background-color:#db3236" disabled>
            <i class="fab fa-google mr-2"></i>
            Sign up using Google
          </button>
        </div>
      </div>
    </div>
    <br><br>
  </div>


  {% include 'includes/js_links.html' %}

  <script>
    $(document).ready(function () {
      $("#id_email").keyup(function () {
        var email = ($(this).val())
        if (email != "") {
          $.ajax({
            url: "{% url 'check-student-email-exist' %}",
            type: 'POST',
            data: { email: email }
          })
            .done(function (response) {
              console.log(response)
              if (response == "True") {
                $(".email_error").remove();
                $("<span class='email_error' style='padding:5px; color:red; font-weight:bold'>Email Not Available</span>").insertAfter('#id_email');
              } else {
                $(".email_error").remove();
                $("<span class='email_error' style='padding:5px; color:green; font-weight:bold'>Email Available</span>").insertAfter('#id_email');
              }
            })
            .fail(function () {
              console.log('Failed')
            })
        } else {
          $(".email_error").remove();
        }
      })
      $("#id_username").keyup(function () {
        var username = ($(this).val())
        if (username != "") {
          $.ajax({
            url: "{% url 'check-student-username-exist' %}",
            type: 'POST',
            data: { username: username }
          })
            .done(function (response) {
              if (response == "True") {
                $(".username_error").remove();
                $("<span class='username_error' style='padding:5px; color:red; font-weight:bold'>Username Not Available</span>").insertAfter('#id_username');
              } else {
                $(".username_error").remove();
                $("<span class='username_error' style='padding:5px; color:green; font-weight:bold'>Username Available</span>").insertAfter('#id_username');
              }
            })
            .fail(function () {
              console.log('Failed to check availability')
            })
        } else {
          $(".username_error").remove();
        }
      })
    })
  </script>
</body>

</html>